<main class="container-sm text-start d-flex flex-column">
   <div class="row">
      <div class="col-sm-12">
         <div class="col-sm-5 float-end p-2">
            <img src="/files/condiciones.jpg" class="float-start" alt="Distribuidora X" />
         </div>
         <h1>CONDICIONES DE VENTA</h1>
         <p>Estamos convencidos que lo más importante para que una relación comercial sea fructífera y provechosa, para
            ustedes
            como clientes y para nosotros como sus proveedores es la claridad y transparencia en las condiciones de
            venta en el
            momento de la negociación, en este documento encontraran las condiciones mencionadas, las cuales servirán
            como guía
            para la solución de inquietudes y nos permita un claro entendimiento entre ustedes y nuestros
            representantes, logrando a
            sí establecer una excelente relación comercial</p>

         <h3>PEDIDOS</h3>
         <p>Los Pedidos u Ordenes de Compra se entienden como aceptadas una vez nuestro representante las remite vía
            fax, correo, Internet
            (ventas@imbrarepuestos.com ) o son entregados en nuestra planta de Bogotá D.C. Después de aceptado el
            pedido, nuestros clientes
            podrán notificar al vendedor cualquier modificación en cantidades y/o términos de entrega, siempre y cuando
            el pedido aun no haya
            sido despachado, debido a los altos costos financieros a nivel nacional. El monto mínimo a facturar es de
            trescientos mil pesos M/CTE.
            ($300.000.°°) Si su cuenta presenta saldos pendientes por cancelar, su pedido no será tramitado.</p>

         <h3>PRECIOS</h3>
         <p>Los precios unitarios de los productos adquiridos rigen a partir de la fecha y no serán modificados sin
            previo aviso de nuestro representante.
            Es política de nuestra empresa no incrementar los precios mas de una vez al año, de ser posible. Para todos
            los productos vendidos,
            serán aplicados los impuestos vigentes que sean determinados a nivel nacional o internacional por los entes
            competentes.</p>

         <h3>CUPOS DE CRÉDITO</h3>
         <p>La Empresa se reserva el derecho de otorgar o negar los cupos de crédito al Cliente que así lo solicitase,
            previa presentación de los
            documentos necesarios para su estudio (Cámara De Comercio y/o Registro Mercantil, Copia del NIT y RUT,
            Solicitud de Crédito diligenciada
            en su totalidad). Estimado Cliente, recuerde que su mejor referencia comercial es el correcto manejo de su
            crédito.</p>

         <h3>GARANTÍA</h3>
         <p>Todos los productos fabricados y distribuidos por nuestra empresa son respaldados por nuestra marca IMBRA?,
            lo cual garantiza que están
            libres de defectos y que cumplen con las especificaciones correspondientes.</p>

         <h3>CONDICIONES DE PAGO</h3>
         <p>Las condiciones y fechas de pago serán establecidas de mutuo acuerdo entre el cliente y nuestro
            representante de ventas y deberán quedar
            consignadas por escrito en la orden de compra y/o pedido. Las fechas no podrán exceder los parámetros
            establecidos por el vendedor y no
            serán contrarias a las leyes gubernamentales que rigen el comercio nacional e internacional y las buenas
            costumbres.</p>
      </div>
   </div>
</main>