<main class="container-sm text-center d-flex flex-column">
        <div class="row">
            <button type="button" class="btn btn-outline-primary my-3">Lista de precios Ofertas</button>
            <div class="text-center">
                <iframe src="/files/ListaPreciosOferta.pdf" width="600" height="800" title="Ofertas"
                    class="border-0"></iframe>
            </div>
        </div>
        <div class="row">
            <button type="button" class="btn btn-outline-primary my-3">Catalogo de Ofertas</button>
            <div class="text-center">
                <iframe src="/files/CatalogoOfertas.pdf" width="600" height="800" title="Ofertas"
                    class="border-0"></iframe>
            </div>
        </div> 
        <div class="row">
            <button type="button" class="btn btn-outline-primary my-3">Descuentos por cantidad</button>
            <div class="text-center">
                <iframe src="/files/DescuentosPorCantidad.pdf" width="600" height="800" title="Ofertas"
                    class="border-0"></iframe>
            </div>
        </div>
</main>
